name: Terraform Infra

on:
  push:
    branches: [ "main" ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_REGION: eu-west-2

    permissions:
      id-token: write   # OIDC için şart
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::808840719419:role/github-oidc-vote-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.5

      - name: Terraform fmt
        working-directory: .
        run: terraform fmt -check

      - name: Terraform init
        working-directory: .
        run: terraform init -input=false

      - name: Terraform plan
        run: terraform plan -input=false

      - name: Terraform apply
        run: terraform apply -input=false -auto-approve

